:root {
  --dark-blue-300:#0A3871;
  --dark-blue-letras:#0A3871;
  --dark-blue-placeHolder:#0A3871;
  --dark-blue-500:#052051;
  --light-blue-100: #F3F5FC;
  --light-blue-400: #757FB2;
  --light-blue500: #AAB2D5;
  --white: #FFFFFF;
  --gray-400:#495057;
  --gray-500:#373c41;
  --togle-noche: #343A40;
  --btn-gris:#D8DFE8;
}

html {
    box-sizing: border-box;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: var(--light-blue-100);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
    padding: 0;
  }  

  .container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
  }
  
  /* Cabecera */
  
  .header-container {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .logo {
    width: 12vw;
    height: 12vh;
  }

  /*-----Dark mode*/
.modoNoche {
  --light-blue-100: #222831;
  --white: #393E46;
  --dark-blue-300:#AAB2D5;
  --gray-400:#c5c5c5e0;
  --gray-500:#eff1fa;
  --dark-blue-placeHolder:#C5C5C5;
  --dark-blue-letras: #FFFFFF;
}
/*--------togle------*/
.wrap-toggle {
  position: relative;
  right: 1rem;
  width: 12vw;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  background-color: var(--light-blue500);
  border-radius: 30px;
  cursor: pointer;
}

.switch::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: var(--light-blue-100);
  left: 5px;
  top: 5px;
  transition: transform 0.5s, background-color 0.5s;
}

input[type='checkbox']:checked + .switch::after {
  transform: translateX(30px);
  background-color: #868E96;
}

input[type='checkbox']:checked + .switch {
  background-color: var(--togle-noche);
}
.offscreen {
  position: absolute;
  left: -99999px;
}
  
  /* Contenedor Principal */
  .main-container {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  /* Contenedor para ingreso de texto */
  .ingreso {
    padding: 6%;
    width: 60%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
  }
  
  .mensaje-ingreso {
    width: 100%;
    height: 70%;
    background-color: var(--light-blue-100);
    border: none;
    color: var(--dark-blue-letras);
    font-size: 2rem;
    padding: 1rem 2rem;
    resize: none;
  }
  
  ::placeholder {
    color: var(--dark-blue-placeHolder);
    font-size: 2rem;
    padding: 1rem 2rem;
  }
  
  .mensaje-ingreso:focus {
    outline: none;
  }
  
  .informacion {
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    color: var(--gray-400);
    font-size: 1.5rem;
    padding-left: 8%;
  }
  
  
  .btn-encriptar {
    background-color: var(--dark-blue-300);
    border: 1px solid var(--dark-blue-300);
    border-radius: 1.5rem;
    color: var(--light-blue-100);
    width: 328px;
    height: 67px;
    margin: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .btn-encriptar:hover {
    background-color: var(--btn-gris);
    transition: 300ms;
    color: var(--dark-blue-letras);
    box-shadow: 12px 10px 32px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 12px 10px 32px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 12px 10px 32px 0px rgba(0, 0, 0, 0.75);
  }
  
  .btn-desencriptar {
    background-color: var(--btn-gris);
    border: 1px solid var(--dark-blue-300);
    border-radius: 1.5rem;
    color: var(--togle-noche);
    font-size: 1.2rem;
    width: 328px;
    height: 67px;
    margin: 0.5rem;
    cursor: pointer;
  }
  
  .btn-desencriptar:hover {
    background-color: var(--dark-blue-500);
    transition: 300ms;
    color: var(--white);
    box-shadow: 12px 10px 32px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 12px 10px 32px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 12px 10px 32px 0px rgba(0, 0, 0, 0.75);
  }
  /* Contenedor Mensaje Encriptado/Desencriptado */
  .resultado {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .output-initial {
    width: 60%;
    height: 60vh;
    background-color: var(--white);
    border-radius: 2rem;
    border: 5px solid var(--dark-blue-300);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .mu침eco {
    width: 70%;
    background: var(--white);
  }
  
  .mensaje-inicial {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6vw;
    color: var(--gray-400);
    text-align: center;
    font-weight: bold;
    background: var(--white);
  }
  
  .insert-text {
    width: 80%;
    height: 20vh;
    font-size: 1.3vw;
    background-color: var(--white);
    color: var(--gray-400);
    text-align: center;
  }
  
  .output-result {
    width: 60%;
    height: 80vh;
    background-color: var(--white);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .muestra-resultado {
    width: 90%;
    height: 60vh;
    background-color: var(--white);
    padding: 1rem 2rem;
    border: none;
    resize: none;
    font-family: 'Montserrat', sans-serif;
    color: var(--gray-400);
    font-size: 1.7vw;
  }
  
  .copiar {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
  }
  
  .btn-copiar {
    border: 1px solid var(--dark-blue-300);
    border-radius: 1.5rem;
    color: var(--white);
    font-size: 1.2rem;
    width: 328px;
    height: 67px;
    cursor: pointer;
    background-color: var(--dark-blue-300);
  }
  
  .btn-copiar:hover {
    background-color: var(--btn-gris);
    transition: 300ms;
    color: var(--dark-blue-letras);
    box-shadow: 12px 10px 32px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 12px 10px 32px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 12px 10px 32px 0px rgba(0, 0, 0, 0.75);
  }
  
  .disable {
    display: none;
  }
  
  .botones {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
  }
  /* Pie de P치gina */
  .footer-container {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .copyright {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2vw;
    color: var(--gray-400);
  }
  
  .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .contact h3 {
    padding-top: 1.3rem;
  }
  
  .icono {
    font-size: 2rem;
    color: var(--dark-blue-300);
    padding: 1rem;
    cursor: pointer;
  }
  
  .icono:hover {
    color: #3498db;
    transition: 200ms;
  }

  @media screen and (min-width: 601px) and (max-width: 1024px) {
    .container {
      width: 100vw;
    }
  
    .main-container {
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
  
    .ingreso {
      padding: 5%;
      width: 100%;
      height: 70%;
    }
  
    .resultado {
      padding: 5%;
      width: 100%;
      height: 30%;
    }
  
    .output-initial {
      width: 90%;
    }
  
    .mu침eco {
      display: none;
    }
  
    .mensaje-inicial {
      font-size: 3vw;
      padding-top: 2rem;
      padding-bottom: 0.5rem;
    }
  
    .insert-text {
      height: 10vh;
      font-size: 2vh;
      padding-top: 1rem;
    }
  
    .output-result {
      width: 100%;
      height: 25vh;
      padding-bottom: 1rem;
    }
  
    .muestra-resultado{
      padding-top: 1rem;
      font-size: 3vw;
    }
  
    .copyright {
      font-size: 1.5vw;
      justify-content: space-between;
      align-items: center;
    }
  }

  @media screen /* and (min-height: 300px) */and (max-height: 640px) {
    .main-container {
      flex-direction: row;
    }
  
    .ingreso {
      width: 60%;
      height: 80vh;
      padding-top: 6%;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 0.5rem;
    }
  
    ::placeholder {
      font-size: 1.3rem;
      padding-left: 0;
    }
  
    .informacion {
      font-size: 1rem;
    }
  
    .resultado {
      padding: 3%;
      padding-top: 0;
      width: 40%;
      height: 90vh;
    }
  
    .output-result {
      width: 100%;
      height: 80vh;
      padding-bottom: 1rem;
    }
  
    .muestra-resultado {
      width: 80%;
      height: 70%;
    }
  
    .btn-copiar {
      width: 80%;
      height: 13vh;
    }
  
    .btn-encriptar {
      height: 13vh;
    }
  
    .btn-desencriptar {
      height: 13vh;
    }
  
    .copiar {
      padding: 0;
    }
  }

  
@media screen and (max-width: 600px) {
  .container {
    width: 100vw;
    height: 100vh;
  }

  .logo {
    width: 20vw;
  }

  .main-container {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .ingreso {
    width: 100%;
    height: 70%;
  }

  .mensaje-ingreso {
    padding: 0.5vw;
  }

  ::placeholder {
    text-align: center;
    font-size: 5.5vw;
    padding: 0.5vw;
  }

  .informacion {
    padding: 0;
    width: 100%;
    height: 3vh;
    font-size: 4vw;
    justify-content: center;
    align-content: center;
  }

  .botones {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .btn-encriptar:hover {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }

  .btn-desencriptar:hover {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }

  .btn-copiar:hover {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }

  .resultado {
    width: 100%;
    height: 30%;
  }

  .output-initial {
    width: 90%;
    height: 100%;
  }

  .mu침eco {
    display: none;
  }

  .mensaje-inicial {
    font-size: 4vw;
    padding-top: 3rem;
  }

  .insert-text {
    font-size: 2vh;
    height: 10vh;
  }

  .output-result {
    width: 90%;
    height: 25vh;
  }

  .muestra-resultado {
    padding: 0.5rem;
    font-size: 6vw;
  }

  .btn-copiar {
    width: 80%;
    height: 6vh;
  }

  .copyright {
    flex-direction: column;
    padding-top: 2rem;
    font-size: 2vw;
    justify-content: space-between;
    align-items: center;
  }

  .contact {
    padding-bottom: 1rem;
  }
  .icono {
    font-size: 1.5rem;
  }
}